.heading{
	background-color : #011e29;
	color: white;
	text-align: center;
	padding: 30px;
}
img{
	width:200px;
}
.photos{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
}
.para{
	background-color: white;
	padding: 20px;
	height: 150px;
	border-radius: 30px;
}
.container{
	padding: 10px;
	background-color: #f5f5f5;
	display: flex;
	gap:10px;
}
.news{
	display: flex;
	flex-direction: column;
	background-color: white;
	padding:10px;
	height: 10%;
	width: 40%;
	border-radius: 30px;
	text-align: center;
}
h3{
	text-align:center;
}
